.ai-industries-section {
    padding: 40px 20px;
  }
  .ai-industries-section h2{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
  }
  .ai-industry-head p{
    text-align: center;

  }
.ai-industries-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 0 auto;
} 
.ai-industry-card {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 24px;
    background-color: #ffff;
    transition: all 0.3s ease;
  }
.ai-industry-card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
.ai-industry-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
  }
.ai-industry-card h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 8px;
  }
.ai-industry-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  /* Responsive padding */
  @media (max-width: 768px) {
  .ai-industries-section {
      padding: 20px 10px;
    }
  .ai-industries-grid{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
  }
  