.contact-form-section {
    background-color: #0057ff; /* ZeeTech blue */
    color: white;
    padding: 3rem 1.5rem;
    border-radius: 2rem;
    margin: 2rem 1rem;
    
  }
  .contact-form-sec{
    width: 55% !important;
    margin: 0 auto !important;
    margin-top: 3% !important;
  }
  .contact-form-heading span{
    color:#f87302
  }
  
  .contact-form-section h2 {
    font-weight: 700;
    font-size: 2.5rem;
  }
  
  .contact-form-section .highlight {
    color: #f87302; /* ZeeTech orange */
  }
  
  .contact-form-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-top: 1rem;
  }
  
  .contact-form-section .form-label {
    color: white;
    font-weight: 500;
    text-align: left !important;
  }
  .form-input-sec{
    text-align: left;
  }
  .contact-form-section .form-control,
  .contact-form-section textarea {
    border-radius: 0.5rem;
  }
  span.text-danger{
    padding: 0px;
  }
  .submit-btn {
    background-color: #f87302;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #f87302;
  }
  .submit-btn{
    background-color: #f87302;
  }
  @media (max-width: 1024px) {
    .contact-form-sec{
    width: 75% !important;
  }
    .contact-form-sec{
      width: 90% !important;
      margin: 0 auto !important;
      margin-top: 3% !important;
    }
  }