.dm-section {
    position: relative;
    padding: 5% 2%;
    background: url('Digital-Marketing-image-1.webp') no-repeat center center / cover; 
    color: #fff;
    overflow: hidden;
  }
  
  .dm-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 0;
  }
  
  
  .dm-container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .dm-content {
    flex: 1;
    min-width: 300px;
  }
  
  .dm-content h2 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .dm-content h2 span {
    color: #ff6a00;
  }
  
  .dm-content p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .dm-image {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    background-color: #ffffff2e;
      border-radius: 35px;
  }
  
  .dm-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    z-index: 1;
  }
  @media (max-width: 767px) {
    .dm-section{
      height: 800px;
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: 460px){
    .dm-section{
      height: 900px;
      gap: 10px;
      display: flex;
      align-items: center;
      padding: 5%;
      padding-top: 15%;
    }
  }
  
  