.offpage-seo-section {
    position: relative;
    padding: 5% 2%;
    background: url('Power-Up-Your-Online-Presence-wi.webp') no-repeat center center / cover; 
    color: #fff;
    overflow: hidden;
  }
  
  .offpage-seo-container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .offpage-seo-content {
    flex: 1;
    min-width: 300px;
  }
  
  .offpage-seo-content h2 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .offpage-seo-content h2 span {
    color: #ff6a00;
    font-weight: 600;
  }
  
  .offpage-seo-content p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .offpage-seo-image {
    flex: none;
    min-width: 300px;
    display: flex;
    justify-content: center;
    background-color: #ffffff2e;
      border-radius: 35px;
  }
  
  .offpage-seo-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    z-index: 1;
  }
  @media (max-width: 767px) {
    .offpage-seo-section{
      height: 800px;
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: 460px){
    .offpage-seo-section{
      height: auto;
      gap: 10px;
      display: flex;
      align-items: center;
      padding: 5%;
      padding-top: 15%;
    }
    .offpage-seo-image {
    flex:2;
  }
  }
  
  